<div class="container-fluid">
    <div class="row">
        <div class="col">
            <app-dbz-list [characterTest]="character"></app-dbz-list>
        </div>
        <div class="col">
            <app-add-character></app-add-character>
        </div>
        
    </div>

    <div class="container-table" *ngIf="table">
        <table class="table"  >
            <thead>
                <tr class="table-success">
                    <td>encabezado 1</td>
                <td>encabezado 2</td>
                <td>encabezado 3</td>
                <td>encabezado 4</td>
                <td>encabezado 5</td>
                <td>encabezado 6</td>
                <td>encabezado 7</td>
                <td>encabezado 8</td>
                <td>encabezado 9</td>
                <td>encabezado 10</td>    
                <td>encabezado 11</td>    
                <td>encabezado 12</td>    
                </tr>
                
            </thead>
            <tbody>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, aliquid?</td>
                <td>encabezado 2</td>
                <td>encabezado 3</td>
                <td>encabezado 4</td>
                <td>encabezado 5</td>
                <td>encabezado 6</td>
                <td>encabezado 7</td>
                <td>encabezado 8</td>
                <td>encabezado 9</td>
                <td>encabezado 10</td>    
                <td>encabezado 11</td>    
                <td>encabezado 12</td>    
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, aliquid?</td>
                <td>encabezado 2</td>
                <td>encabezado 3</td>
                <td>encabezado 4</td>
                <td>encabezado 5</td>
                <td>encabezado 6</td>
                <td>encabezado 7</td>
                <td>encabezado 8</td>
                <td>encabezado 9</td>
                <td>encabezado 10</td>    
                <td>encabezado 11</td>    
                <td>encabezado 12</td>    
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, aliquid?</td>
                <td>encabezado 2</td>
                <td>encabezado 3</td>
                <td>encabezado 4</td>
                <td>encabezado 5</td>
                <td>encabezado 6</td>
                <td>encabezado 7</td>
                <td>encabezado 8</td>
                <td>encabezado 9</td>
                <td>encabezado 10</td>    
                <td>encabezado 11</td>    
                <td>encabezado 12</td>    
                </tr>
            </tbody>

        </table>
    </div>
 
        
    
    
    
</div>

